* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box1 {
  height: 200px;
  background-image: url(file:///Users/saitouryuuji/Desktop/dmm%20webcamp/1.HTML%E3%83%BBCSS%E3%82%92%E5%AD%A6%E3%81%BB%E3%82%99%E3%81%86/chapter6/chapter6_exercise/img/box1.jpg);
  background-size: cover;
  background-position: center;
}

.box2 {
  height: 200px;
  background-image: url(file:///Users/saitouryuuji/Desktop/dmm%20webcamp/1.HTML%E3%83%BBCSS%E3%82%92%E5%AD%A6%E3%81%BB%E3%82%99%E3%81%86/chapter6/chapter6_exercise/img/box2.jpg);
  background-size: cover;
  background-position: center;
}

.box3 {
  height: 200px;
  background-image: url(file:///Users/saitouryuuji/Desktop/dmm%20webcamp/1.HTML%E3%83%BBCSS%E3%82%92%E5%AD%A6%E3%81%BB%E3%82%99%E3%81%86/chapter6/chapter6_exercise/img/box3.jpg);
  background-size: cover;
  background-position: center;
}

.box4 {
  height: 200px;
  background-image: url(file:///Users/saitouryuuji/Desktop/dmm%20webcamp/1.HTML%E3%83%BBCSS%E3%82%92%E5%AD%A6%E3%81%BB%E3%82%99%E3%81%86/chapter6/chapter6_exercise/img/box4.jpg);
  background-size: cover;
  background-position: center;
}
