* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-visual {
  width: 100%;
  height: 400px;
  background-image: url(file:///Users/saitouryuuji/Desktop/dmm%20webcamp/1.HTML%E3%83%BBCSS%E3%82%92%E5%AD%A6%E3%81%BB%E3%82%99%E3%81%86/chapter7/chapter7_exercise/img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.headline {
  padding: 20px;
}

main {
  width: 840px;
  margin: 50px auto;
}

.service1 {
  margin-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
}

.service2 {
  margin-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
}

.service3 {
  margin-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
}

.service4 {
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
}

img {
  margin: 5px 0;
}

.url {
  color: black;
}